<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.discovery.dao.AuthUserDao">
    
    <select id="loadAllAuthons" parameterType="java.lang.String" resultType="java.lang.String">
    	SELECT a.authority FROM authorities a,resources r,resource_authority m WHERE r.resource_content = #{url}
		AND  r.id = m.rid
		AND  m.aid = a.id
    </select>
    
    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.common.dto.User">
    	SELECT password ,authority au FROM users u ,authorities a WHERE u.id = a.uid AND u.username = #{username};
    </select>
</mapper>